// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
// Commenting this out so I can style it on my own
@import "~bootstrap/scss/bootstrap";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@import "loadingspinner";
// @import "lapinput";

#run_list_container {
    display: grid;

    #run_list_body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .time_container {
            .time_body_item {
                display: flex;

                :nth-child(2) {
                    flex-grow: 2;
                    text-align: center;
                }
            }
            .summary::before {
                content: "v";
            }
            .detailed::before {
                content: "^";
            }
        }
    }
}
